<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- create an initializer extension to initialize preferences -->
   <extension
      point="org.eclipse.equinox.preferences.preferences">
	   <initializer
	         class="com.ensoftcorp.open.java.commons.preferences.JavaCommonsPreferences">
	   </initializer>
	</extension>

   <!-- add java toolbox commons preference page (under the toolbox commons preferences) -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ensoftcorp.open.java.commons.ui.JavaCommonsPreferencesPage"
            id="com.ensoftcorp.open.java.commons.ui.preferences"
            name="Java Toolbox Commons"
            category="com.ensoftcorp.open.commons.ui.preferences">
      </page>
   </extension>

	<!-- define command some handler extensions -->
	<extension
	      point="org.eclipse.ui.handlers">
	   <handler
	         commandId="com.ensoftcorp.open.java.commons.menus.showJavaSubsystemTagHierarchyCommand"
	         class="com.ensoftcorp.open.java.commons.handlers.ShowJavaSubsystemTagHierarchyHandler">
	   </handler>
	</extension>

	<!-- extend the Atlas Toolbox menu with a new submenu -->
	<extension
	      point="org.eclipse.ui.menus">
	   <menuContribution
	         locationURI="menu:com.ensoftcorp.open.commons.menus.toolbox?after=additions">
	      <menu
	            label="Java Toolbox Commons"
	            id="com.ensoftcorp.open.java.commons.menu">
	         <command
	               label="Show Java Subsystem Tag Hierarchy"
	               commandId="com.ensoftcorp.open.java.commons.menus.showJavaSubsystemTagHierarchyCommand"
	               id="com.ensoftcorp.open.java.commons.menus.showJavaSubsystemTagHierarchyHandlerMenuItem">
	         </command>
	      </menu>
	   </menuContribution>
	</extension>
	
   <!-- adds prioritized codemap stage -->
   <extension point="com.ensoftcorp.open.commons.codemap">
      <codemap class="com.ensoftcorp.open.java.commons.refinement.SystemExitControlFlowRefinement"></codemap>
      <codemap class="com.ensoftcorp.open.java.commons.refinement.ThreadRunnableCallSummarization"></codemap>
   </extension>

	<!-- add project analysis properties initializer defintions -->
   <extension point="com.ensoftcorp.open.commons.analyzer">
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.ClassLoaderUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.NativeCodeUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.ProcessUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.ReflectionUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.SerializationUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.SystemExitUsage"></analyzer>
   </extension>
   
   <!-- add analyzer properties initializer definitions -->
   <extension point="com.ensoftcorp.open.commons.project.properties.initializer">
      <project-properties-initializer class="com.ensoftcorp.open.java.commons.project.ProjectJarProperties"></project-properties-initializer>
   </extension>

   <!-- add analyzer defintions -->
   <extension point="com.ensoftcorp.open.commons.analyzer">
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.JavaProgramEntryPoints"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.ClassLoaderUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.NativeCodeUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.ProcessUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.ReflectionUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.SerializationUsage"></analyzer>
      <analyzer class="com.ensoftcorp.open.java.commons.analyzers.SystemExitUsage"></analyzer>
   </extension>

   <!-- add subsystem tagging instructions -->
   <extension point="com.ensoftcorp.open.commons.subsystem">
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.CompressionSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.CryptoSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.DatabaseSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.DataStructureSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.GarbageCollectionSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.HardwareSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.IntrospectionSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.IOSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.JavaCoreSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.LogSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.MathSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.NetworkSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.RandomSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.RMISubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.SecuritySubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.SerializationSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.TestingSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.ThreadingSubsystem"></subsystem>
      <subsystem class="com.ensoftcorp.open.java.commons.subsystems.UISubsystem"></subsystem>
   </extension>
   
   <!-- adds filter definitions -->
   <extension point="com.ensoftcorp.open.commons.filter">
      <filter class="com.ensoftcorp.open.java.commons.filters.LiteralPassedParameterCallSiteFilter"></filter>
   </extension>
   
   <!-- adds language specific analyses -->
   <extension point="com.ensoftcorp.open.commons.language.analysis">
      <language-specific-analysis class="com.ensoftcorp.open.java.commons.analysis.CallSiteAnalysis"></language-specific-analysis>
   </extension>

</plugin>
